@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	/** Theme primary colors */
	--cffy-theme-primary-a0: #880fa3;
	--cffy-theme-primary-a10: #9535ad;
	--cffy-theme-primary-a20: #a14fb7;
	--cffy-theme-primary-a30: #ad66c1;
	--cffy-theme-primary-a40: #b97dca;
	--cffy-theme-primary-a50: #c592d4;

	/** Theme accent colors */
	--cffy-theme-accent-a0: #1b8bbf;
	--cffy-theme-accent-a10: #3e97c6;
	--cffy-theme-accent-a20: #58a2cd;
	--cffy-theme-accent-a30: #6eaed3;
	--cffy-theme-accent-a40: #84b9da;
	--cffy-theme-accent-a50: #99c5e0;

	/** Theme surface colors */
	--cffy-theme-surface-a0: #121212;
	--cffy-theme-surface-a10: #252525;
	--cffy-theme-surface-a20: #393939;
	--cffy-theme-surface-a30: #4f4f4f;
	--cffy-theme-surface-a40: #666;
	--cffy-theme-surface-a50: #7d7d7d;

	/** Theme tonal surface colors */
	--cffy-theme-surface-tonal-a0: #1d151f;
	--cffy-theme-surface-tonal-a10: #302832;
	--cffy-theme-surface-tonal-a20: #443c45;
	--cffy-theme-surface-tonal-a30: #58525a;
	--cffy-theme-surface-tonal-a40: #6e6870;
	--cffy-theme-surface-tonal-a50: #858086;
	--cffy-theme-surface-tonal-a60: #b4aeb6;
	--cffy-theme-surface-tonal-a70: #ddd4df;

	/** Success colors */
	--cffy-theme-success-a0: #7dff95;
	--cffy-theme-success-a10: #9dffac;
	--cffy-theme-success-a20: #b8ffc1;

	/** Warning colors */
	--cffy-theme-warning-a0: #ffbc5e;
	--cffy-theme-warning-a10: #ffca83;
	--cffy-theme-warning-a20: #ffd8a4;

	/** Danger colors */
	--cffy-theme-danger-a0: #ff8080;
	--cffy-theme-danger-a10: #ff9b99;
	--cffy-theme-danger-a20: #ffb5b2;

	/** Info colors */
	--cffy-theme-info-a0: #87d1ff;
	--cffy-theme-info-a10: #a1dbff;
	--cffy-theme-info-a20: #b9e4ff;

	/* font-family */
	--ff-asap: 'Asap', Geneva, Verdana, sans-serif;
	--ff-poppins: 'Poppins', sans-serif;

	/* font-size */
	--fs-title: 38px;
	--fs-1: 30px;
	--fs-2: 24px;
	--fs-3: 18px;
	--fs-4: 16px;
	--fs-5: 15px;
	--fs-6: 14px;
	--fs-7: 13px;
	--fs-8: 11px;

	/* font-weight */
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;

	--br-corner-tr: 0 15px 0 15px;
	--br-corner-tl: 15px 0 15px 0;
	--br-corner-le: 15px 0 0 15px;
	--br-corner-ri: 0 15px 15px 0;
	--br-all: 15px;

	/*BORDER*/
	--border-solid-thin-1: 2px solid var(--cffy-theme-surface-tonal-a30);

	font-family: var(--ff-asap);
	font-family: var(--ff-asap);
	background: var(--cffy-theme-surface-tonal-a0);
	color: var(--cffy-theme-surface-tonal-a70);
	font-size: var(--fs-5);
}
