---
import MainLayout from '../layouts/MainLayout.astro';
export const prerender = true;
---

<!-- Botones: Ver proyectos Descargar CV Contactar -->
<MainLayout title='Sobre mí'>
	<h2 slot='title'>Sobre mí</h2>
	<p slot='content'>
		Soy un profesional con más de 4 años de experiencia en el área de T.I., donde, si bien no he tenido un puesto
		formal como programador, he desarrollado aplicaciones internas para todas las empresas en las que trabajé. Me
		considero una persona autodidacta, apasionada por el aprendizaje continuo y actualmente estoy cursando el quinto
		año de la carrera de Ingeniería en Informática. Además, cuento con experiencia en la configuración de equipos de
		red como Mikrotik, Cisco y Firewalls Fortinet.
	</p>
</MainLayout>
