---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<title>Portfolio Pablo Gamarra</title>
	</head>
	<body>
		<Navbar />
		<aside class='sidebar'>
			<section class='sidebar-info'>
				<h1>Pablo Gamarra</h1>
				<p>@pablolgamarra</p>
			</section>
			<hr />
			<p>Ingeniero en Informática</p>
		</aside>

		<p>Portfolio en construcción.</p>
	</body>
</html>
