<navbar>
	<ul>
		<li>
			<a class='nav-link'>Experiencia Laboral</a>
		</li>
		<li>
			<a class='nav-link'>Portafolio</a>
		</li>
		<li>
			<a class='nav-link'>Devlog</a>
		</li>
		<li>
			<a class='nav-link'>Contacto</a>
		</li>
	</ul>
</navbar>

<style>
	navbar {
		position: fixed;
		top: 0;
		right: 0;
		background-color: var(--black-3);
		border-radius: var(--br-corner-tr);
	}

	navbar ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
        width: fit-content
		padding: 0 10px;
	}

	.nav-link {
		color: var(--white-2);
		text-decoration: none;
        margin: 0 25px;
	}

    .nav-link:hover{
        color: var(--vegas-gold);
    }
</style>
