<nav class='w-full px-10 bg-gray-900 text-gray-100 text-lg'>
	<ul class='flex flex-row h-16 justify-around center items-center'>
		<li><a href='/'>Inicio</a></li>
		<li><a href='/about'>Proyectos</a></li>
		<li><a href='/projects'>Sobre mí</a></li>
		<li><a href='/contact'>Contacto</a></li>
		<li><a>&lt;/&gt;</a></li>
	</ul>
</nav>
