<navbar>
	<ul>
		<li>
			<a
				class='nav-link'
				href='/'
				>Inicio</a
			>
		</li>
		<li>
			<a
				class='nav-link'
				href='/experience'
				>Experiencia Laboral</a
			>
		</li>
	</ul>
</navbar>

<style>
	navbar {
		display: flex;
		align-self: flex-end;
		background-color: var(--cffy-theme-surface-tonal-a20);
		border-radius: var(--br-corner-tr);
	}

	navbar ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: fit-content;
		padding: 0 10px;
		list-style: none;
	}

	.nav-link {
		color: var(--white-2);
		text-decoration: none;
		margin: 0 25px;
	}

	.nav-link:hover {
		color: var(--cffy-theme-primary-a50);
	}
</style>
